*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: black;
    font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
    
    
}

body{
    background-image: url("../db/purple_money_rain.gif");
    background-size: cover;
    background-repeat: repeat;
}

.header{
    height:100px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
    background: #c79100;
    margin: auto;
    align-items: center;
    line-height: 80px;
    font-weight:bold;
    
    
}
.header p{
    color: rgb(17, 16, 15);
    font-size: 20px;
    margin: 9px;
}
.form1{
    width: 600px;
    height:750px;
    background: #ffc107;
    margin:auto;
    border-radius: 50px;
    box-shadow: #999 10px 10px;
}
form{
    padding: 10px;
    line-height:30px;
}
.table1{
    width: 550px;
    line-height:30px;
   
}
.short{
    align-items: center;
}
.table2{
margin: auto;
width: 80%;
line-height: 20px;
text-align: center;

}
.table2  td{
    height: 80px;
    
    }