*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height:50px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
    background: lightblue;
    
}
.form1{
    width: 500px;
    height:600px;
    background: lightgoldenrodyellow;
    margin:auto;
   
}
form{
    padding: 10px;
    line-height:30px;
}
.table1{
    width: 800px;
   
}
